.dm-sans-font {
  font-family: "DM Sans";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins";
  font-style: normal;
  line-height: normal;
}

.max-w-1440 {
  max-width: 1440px;
  margin: 0 auto;
}


.work-sans{
  font-family: "Work Sans";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
}

.LoginPageBackground{
  background-image: url("./assets/icons/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

@media screen and (min-width: 768px)and (max-width: 1023px) {
  .LoginPageBackground{
    background-image: url("./assets/icons/backgroundTab.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
  }
}

@media screen and (min-width: 320px)and (max-width: 425px) {
  .LoginPageBackground{
    background-image: url("./assets/icons/mobileview.png");
    }
}